#cardbody{
  box-shadow: 0px 0px 5px gray;
}
#hdr{
    border: 2px solid black;
}

#todo{
    border: 2px solid red;
    
}

#card_todo{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}