*{
    margin: 0;
    padding: 0;
}
#title{
    text-align: center;
    margin: 2vw 0;
}

#result{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5vh 20vw;
}

#wins,#loses{
    color: red;
}

#choice{
    height: 50vh;
    padding: 5vh 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#user-choice,#computer-choice{
    width: 25vw;
    /* height: 25vw; */
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5vh 30vw;
}

img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
button{
    height: 5vh;
    width: 8vw;
    color: blue;
}

@media screen and (max-width:400px) {
    #result{
        padding: 2vh auto;
    }
    #choice{
        flex-direction: column;
        align-items: center;
        height: 64vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    #user-choice,#computer-choice{
        height: 25vh;
        width: 40vw;
        margin: 2vh 0;
    }
    #input{
        padding: 2vh auto;
    }
    button{
        width: 8vh;
    }
}